@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* 
  font-family: "Raleway", sans-serif;
  font-family: "Montserrat", sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

body {
  background-image: url('./assets/hero-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 964px;
  height: 3000px;
  background-color: #5C5C5C;
}

@media (max-width: 786px) {
  body {
    background-size: 100% 910px;
  }
}

@media (max-width: 678px) {
  body {
    background-size: 100% 830px;
  }
}

@media (max-width: 550px) {
  body {
    background-size: 100% 870px;
  }
}

@media (max-width: 480px) {
  body {
    background-size: 100% 930px;
  }
}